<launch>
  <arg name="concert_client_name" value="whoola"/>
  <arg name="concert_name" value="whoola_concert"/>
  <include file="$(find concert_client)/launch/client.launch">
    <arg name="concert_client_name" value="$(arg concert_client_name)"/>
    <arg name="concert_name" value="$(arg concert_name)"/>
  </include>
</launch>
