<launch>
  <arg name="robot_name" value="whoola"/>
  <arg name="concert_name" value="whoola_concert"/>
  <include file="$(find concert_client)/launch/client.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_type" value="pc"/>
    <arg name="concert_name" value="$(arg concert_name)"/>
  </include>
</launch>
