<!--
  Standard launch configuration for an app manager in standalone mode.
  i.e. no android, no multimaster concert. You should be able to play
  the basic apps (chirp and talker etc with this).
 -->
<launch>
  <!-- ************************* Public Arguments ****************************** -->
  <arg name="robot_name" default="cybernetic_pirate"/>
  <arg name="robot_type" default="cybernetic_pirate"/>
  <arg name="robot_icon" default="rocon_app_manager/cybernetic_pirate.png"/>
  <arg name="gateway_watch_loop_period" default="10"/> <!-- Polling period for multimaster advertising/flipping -->
  <arg name="gateway_firewall" default="true"/> <!-- Typically nothing comes in! -->
  <arg name="hub_whitelist" default=""/> <!-- semi-colon separated hub names/regex patterns -->
  <arg name="disable_uuids" default="false"/>
  <arg name="rapp_package_whitelist" default="[rocon_apps]"/> <!-- comma separated list of package names -->
  <arg name="rapp_package_blacklist" default="[]"/>
  <arg name="auto_start_rapp" default=""/> <!-- autostart a rapp, e.g. rocon_apps/chirp -->
  <arg name="local_remote_controllers_only" default="false"/> <!-- allow remote control for local machine tests only -->
  <arg name="screen" default="false"/>  <!-- verbose output from running apps -->

  <!-- ******************************* Zeroconf ******************************** -->
  <node ns="zeroconf" pkg="zeroconf_avahi" type="zeroconf" name="zeroconf"/>

  <!-- ******************************** Gateway ******************************** -->
  <include file="$(find rocon_app_manager)/launch/includes/_app_manager_gateway.xml">
    <arg name="gateway_name" value="$(arg robot_name)" />
    <arg name="gateway_firewall" value="$(arg gateway_firewall)" />
    <arg name="disable_uuids" value="$(arg disable_uuids)"/>
    <arg name="gateway_watch_loop_period" value="$(arg gateway_watch_loop_period)" />
    <arg name="hub_whitelist" value="$(arg hub_whitelist)" />
  </include>

  <!-- ****************************** App Manager ****************************** -->
  <include file="$(find rocon_app_manager)/launch/includes/_app_manager.xml">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="robot_icon" value="$(arg robot_icon)" />
    <arg name="rapp_package_whitelist" value="$(arg rapp_package_whitelist)" />
    <arg name="rapp_package_blacklist" value="$(arg rapp_package_blacklist)" />
    <arg name="auto_start_rapp" value="$(arg auto_start_rapp)" />
    <arg name="local_remote_controllers_only" value="$(arg local_remote_controllers_only)" />
    <arg name="screen" value="$(arg screen)" />
  </include>
</launch>
