<!--
  Standard launch configuration for an app manager in standalone mode.
  i.e. no android, no multimaster concert. You should be able to play
  the basic apps (chirp and talker etc with this).
 -->
<launch>
  <!-- ************************* Public Arguments ****************************** -->
  <arg name="robot_name" default="app_manager"/>
  <arg name="robot_type" default="pc"/>
  <arg name="robot_icon" default="rocon_app_manager/cybernetic_pirate.png"/>
  <arg name="auto_start_rapp" default=""/>   <!-- autostart a rapp, e.g. rocon_apps/talker -->
  <arg name="rapp_package_whitelist" default="[rocon_apps]"/> <!-- comma separated list of package names -->
  <arg name="rapp_package_blacklist" default="[]"/>
  <arg name="screen" default="true"/>  <!-- verbose output from running apps -->
  <!-- See 'http://wiki.ros.org/rocon_app_manager/Tutorials/indigo/Automatic Rapp Installation'
       on how to enable automatic rapp installation -->
  <arg name="auto_rapp_installation" default="false"/>
  
  <!-- ****************************** Rapp Manager ****************************** -->
  <include file="$(find rocon_app_manager)/launch/includes/_app_manager.xml">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="robot_icon" value="$(arg robot_icon)" />
    <arg name="rapp_package_whitelist" value="$(arg rapp_package_whitelist)" />
    <arg name="rapp_package_blacklist" value="$(arg rapp_package_blacklist)" />
    <arg name="auto_start_rapp" value="$(arg auto_start_rapp)" />
    <arg name="screen" value="$(arg screen)" />
    <arg name="auto_rapp_installation" value="$(arg auto_rapp_installation)" />
  </include>
</launch>
