<!--
  Standard launch configuration for an app manager in standalone mode.
  i.e. no android, no multimaster concert. You should be able to play
  the basic apps (chirp and talker etc with this).
 -->
<launch>
  <!-- ************************* Public Arguments ****************************** -->
  <arg name="robot_name" default="app_manager"/>
  <arg name="robot_type" default="standalone"/>
  <arg name="rapp_lists" default="rocon_apps/rocon.rapps"/> <!-- semi colon separated list of rapp list resource names --> 
  <arg name="robot_icon" default="rocon_app_manager/cybernetic_pirate.png"/>
  
  <!-- ****************************** App Manager ****************************** -->
  <include file="$(find rocon_app_manager)/launch/includes/_app_manager.xml">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="robot_type" value="$(arg robot_type)" />
    <arg name="robot_icon" value="$(arg robot_icon)" />
    <arg name="rapp_lists" value="$(arg rapp_lists)" />
  </include>
  
</launch>
