<!--
  Standard launch configuration for an app manager in standalone mode.
  i.e. no android, no multimaster concert. You should be able to play
  the basic apps (chirp and talker etc with this).
 -->
<launch>
  <!-- ************************* Public Arguments ****************************** -->
  <arg name="robot_name"              default="kobuki"/>
  <arg name="robot_type"              default="kobuki"/>
  <arg name="robot_icon"              default="rocon_app_manager/cybernetic_pirate.png"/>
  <arg name="auto_start_rapp"         default=""/>   <!-- autostart a rapp, e.g. rocon_apps/talker -->
  <arg name="rapp_package_whitelist"  default="[]"/> <!-- comma separated list of package names -->
  <arg name="rapp_package_blacklist"  default="[]"/>
  <arg name="screen"                  default="true"/>  <!-- verbose output from running apps -->
  <arg name="capability_server_name"  default="capability_server"/>  <!-- name of the capability server -->
  
  <!-- ****************************** App Manager ****************************** -->
  <include file="$(find rocon_app_manager)/launch/includes/_app_manager.xml">
    <arg name="robot_name"              value="$(arg robot_name)" />
    <arg name="robot_type"              value="$(arg robot_type)" />
    <arg name="robot_icon"              value="$(arg robot_icon)" />
    <arg name="rapp_package_whitelist"  value="$(arg rapp_package_whitelist)" />
    <arg name="rapp_package_blacklist"  value="$(arg rapp_package_blacklist)" />
    <arg name="auto_start_rapp"         value="$(arg auto_start_rapp)" />
    <arg name="screen"                  value="$(arg screen)" />
    <arg name="capability_server_name"  value="$(arg capability_server_name)"/>
  </include>

  <!-- *************************** Capability Server *************************** -->
  <arg name="debug"                                   default="false" />
  <arg name="capability_server_nodelet_manager_name"  default="capability_server_nodelet_manager" />
  
  <node pkg="capabilities" name="$(arg capability_server_name)" type="capability_server" required="true">
    <param name="debug"                 value="true" if="$(arg debug)" />
    <param name="nodelet_manager_name"  value="$(arg capability_server_nodelet_manager_name)" />
    <rosparam param="package_whitelist">
      - std_capabilities
    </rosparam>
    <rosparam param="blacklist">
    </rosparam>
  </node>

</launch>
