body {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
    margin:1pt;
    padding-top:10px;
    height: 30px;
    float:left;
	position: relative;	
}

.headtools {
    display:inline-block;
    text-align:center;
    float:right;
    position:relative;
    height:100%;
}


.connectionpanel {
    float:left;
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
}


















.middle-main{
    height:70%;
    display:inline-block;
    width:100%;
    overflow:visible;
    position:relative;
}

.middle-footer {
    height:30%;
    display:inline-block;
    width:100%;
    overflow:visible;
    position:relative;

}

.leftbody {
    width:30%;
    display:inline-block;
    float: left;
}

.rightbody { 
    display:inline-block;
    width:65%;
    overflow:hidden;
    white-space:nowrap;
    margin:5px;
}

.headers {
    height:15%;
	width:100%;
    display:inline-block;
    overflow:visible;
	position:relative;
	margin-top: 10px;
	border: 1px solid #759DC0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.middlepanel {
    margin:auto;
    display:inline-block;
    height: 80%;
	margin-top: 10px;
	border: 1px solid #759DC0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;

  width: 100%;
}
